{% extends "first_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
<div class="jumbotron">
    <h1>Please Login</h1>
    <form action="{% url 'first_app:user_login' %}" method="POST">
        {% csrf_token %}
        <label for="username">username:</label>
        <input type="text" name="username" placeholder="username">

        <label for="password">password:</label>
        <input type="password" name="password">

        <input type="submit" class="btn btn-primary" value="submit">
    </form>
</div>
{% endblock %}